@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #43AFFC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 45px;
}

input {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 5px 0 0 5px;
    margin-left: 2px;
}

input:focus {
    outline: none;
}

.btn-search,
i {
    font-size: 24px;
    padding: 5px;
    color: #43AFFC;
    border-radius: 5px;
    cursor: pointer;
}

#btn-search {
    color: #fff;
}

i:hover {
    background-color: #2192e2;
}

h2 {
    text-align: center;
    color: #43AFFC;
    margin-bottom: 20px;
}

img {
    width: 100px;
    margin: 0 calc((100% - 100px) / 2);
    margin-top: 30px;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
}

.city {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.input-city {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #43AFFC;
}

.info-weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.column {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 20px;
}

#location {
    font-size: 36px;
}

#icon {
    font-size: 42px;
    margin-right: 20px;
}

.city-name {
    font-size: 22px;
    font-weight: 500;
}

.text-error {
    color: red;
    margin-bottom: -20px;
    text-align: center;
    display: none;
}

.details {
    font-size: 20px;
}